.App {
}

.header {
  display: flex;
}

.header__title {
  position: absolute;
  z-index: 200;
  height: 100px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.body {
  display: flex;
}

